<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="css/header.css">
    <link rel="stylesheet" href="css/banner.css">
    <link rel="stylesheet" href="css/nav.css">
    <link rel="stylesheet" href="css/content.css">
    <link rel="stylesheet" href="css/footer.css">
</head>
<body>
    <div class="header">
        <div class="head_content">
            <div id="logo">
                <img src="img/1.jpg" alt="" id="logo">
            </div>
            <div id="lead">
                <ul>
                    <li><a href="#">Github</a></li>
                    <li><a href="#">Register</a></li>
                    <li><a href="#">Login</a></li>
                </ul>
            </div>   
        </div>
    </div>
    <div class="banner">
        <div class="scroll_img">
            <img src="" alt="">
            <img src="" alt="">
            <img src="" alt="">
            <img src="" alt="">
        </div>
        <div class="button">
            <!-- 应该也可以将radio类型改为img图片展示 -->
            <input type="radio" name="tab" src="#" onclick="">
            <input type="radio" name="tab" src="#" onclick="">
            <input type="radio" name="tab" src="#" onclick="">
            <input type="radio" name="tab" src="#" onclick="">
        </div>
    </div>
    <div class="nav">
        <div class="nav_button">
            <ul>
                <li><a href="#">Home</a></li>
                <li><a href="#">Profile</a></li>
                <li><a href="#">About</a></li>
            </ul>
        </div>
    </div>
    <div class="content">
        <p class="text">it is a bad day</p>
        <p class="text">it is a bad day</p>
        <p class="text">it is a bad day</p>
        <p class="text">it is a bad day</p>
        <p class="text">it is a bad day</p>
        <p class="text">it is a bad day</p>
        <p class="text">but today is not a bad day</p>
        <p class="text">but today is not a bad day</p>
        <p class="text">but today is not a bad day</p>
        <p class="text">it is a bad day,but today is not a bad day</p>
    </div>
    <div class="footer">
        <p>@baidu.com</p>
    </div>
</body>
</html>