.footer{
    height: 200px;
    background-color: black;
    display: flex;
    padding: 50px;
    justify-content: space-around;
    overflow: hidden;
}
.menu{
    justify-content: space-around;
    flex: 2;
    display: flex;
}
.social{
    flex: 1;
    width: 0;
}
.m_text1{
    font-size: 20px;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    margin-bottom: 20px;
}
.m_text2{
    font-size: 15px;
    color: white;
    margin-bottom: 15px;
}
.s_icon img{
    margin: 10px;
}